:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: #fff;
}

body {
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
